.currency-list {
    width: 120px;
    padding: 0;
    margin: 8px 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    list-style: none;

    opacity: 0;
    z-index: -2;

    transition: all .3s ease;

    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 10px 20px;
        width: 100%;
        background: #FFFFFF;
        transition: all .3s ease;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -20px;
            right: 0;
            border-bottom: 2px solid transparent;
            transition: all .3s ease;
        }

        &:hover {
            color: #5ECE7B;
            &::after {
                border-bottom: 2px solid #5ECE7B;
            }
        }
    }
}